.container {

    .toast-success {
        font-weight: 600;
        font-size: 17px;
        color: red;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
    }

    .toast-fail {
        font-weight: 600;
        font-size: 17px;
        color: red;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
    }
}